<nav class="navbar navbar-expand-lg navbar-light bg-light">
 <%= link_to "The Gossip Project",   '#', class: "navbar-brand"  %>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <%= link_to "Accueil",   '#', class: "nav-link"  %>
      </li>
      <li class="nav-item">
       
        <%= link_to "Index des gossips",   '#', class: "nav-link"  %>
      </li>
      <li class="nav-item">
        <%= link_to "Nouveau gossip", '#',class: "nav-link disabled" %>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
    </form>
  </div>
</nav>